[defaults]
host_key_checking = False
inventory = inventory/default-webserver/
vault_password_file = ../.learn-ansible-vault
callback_whitelist = profile_tasks
forks = 50
hash_behaviour = merge
nocows = 1
stdout_callback = debug
force_color = 1

# Since ansible 2.4, need these to run playbook that exists in sub directory.
roles_path = roles
filter_plugins = filter_plugins